<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="error/images/lggr.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Bad+Script|Cookie|Courgette|Covered+By+Your+Grace|Dancing+Script|Gloria+Hallelujah|Great+Vibes|Handlee|Indie+Flower|Kaushan+Script|Pacifico|Patrick+Hand|Permanent+Marker|Sacramento|Satisfy|Shadows+Into+Light|Shadows+Into+Light+Two|Tangerine|Yellowtail" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Dark - Apis</title>
</head>
<body>
    <div class="center-image">
        <a href="#" alt="layonapis: criador">
            <img class="round-image" src="https://telegra.ph/file/900aeb35bce77d8e7e555.png" alt="by layonapis">
        </a>
    </div>
    <center>
        <i class="darkin">LAYON - APIS</i>
    </center>

    <section id="home" class="full-height px-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <center>
                        <h1 class="display-4 fw-bold" data-aos="fade-up">
                            SEJAM BEM VINDO<span class="text-brand"> A LAYON APIS</span>
                        </h1>
                        <h3 id="text"></h3>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <a href="https://world-ecletix.onrender.com" target="_blank" class="btn btn-brand me-3">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                site ofc
                            </a>
                            <a href="/login" class="btn btn-brand me-3">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                sua conta
                            </a>
                            <a href="https://Instagram.com/comedor_di_primas" target="_blank" class="btn btn-brand me-3">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                insta
                            </a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="full-height px-lg-5">
        <div class="container">
            <div class="row pb-4" data-aos="fade-up">
                <div class="col-lg-8">
                    <center>
                        <h1 class="display-4 fw-bold" data-aos="fade-up">CRIADORES<span class="text-brand"></span></h1>
                    </center>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-md-4" data-aos="fade-up">
                    <div class="service p-4 bg-base rounded-4 shadow-effect">
                        <div class="iconbox rounded-4">
                            <i class="mdi mdi-instagram"></i>
                        </div>
                        <h5 class="mt-4 mb-2"></h5>
                        <p>quem come calado, come sempre!</p>
                        <center>
                            <a class="btn" href="/valores">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Canal
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){
            $('.sub-btn').click(function(){
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });

            $('.menu-btn').click(function(){
                $('.side-bar').addClass('active');
                $('.menu-btn').css("visibility", "hidden");
            });

            $('.close-btn').click(function(){
                $('.side-bar').removeClass('active');
                $('.menu-btn').css("visibility", "visible");
            });
        });

        const textElement = document.getElementById('text');
        const phrases = [
            'Bem-Vindo🌹',
            'Ainda estamos em desenvolvimento⚙️',
            'Explore nossas opções.',
            'Obrigado por usar nossa api🥰',
            'rest api by world ecletix 🤗',
            'esplore a sua criatividade na nossa api👩‍💻',
            'estamos sempre trazendo o melhor conteudo para voce🙅',
            'Ficamos felizes de te ver aqui',
            'A comunidade world ecletix sempre está evoluindo 🤑',
            'Todos os direitos reservados a world ecletix 🔥'
        ];
        let phraseIndex = 0;
        let letterIndex = 0;

        function typeWriter() {
            if (letterIndex < phrases[phraseIndex].length) {
                textElement.innerHTML += phrases[phraseIndex].charAt(letterIndex);
                letterIndex++;
                setTimeout(typeWriter, 100);
            } else {
                setTimeout(() => {
                    textElement.innerHTML = ''; // Limpa o texto para a próxima frase.
                    letterIndex = 0; // Reseta o índice da letra.
                    phraseIndex = (phraseIndex + 1) % phrases.length; // Passa para a próxima frase.
                    typeWriter(); // Reinicia a digitação.
                }, 2000); // Espera um pouco antes de começar a digitar novamente.
            }
        }

        // Inicia a digitação assim que a página carrega.
        document.addEventListener('DOMContentLoaded', typeWriter);

        document.getElementById('imagem').addEventListener('click', function() {
            window.location.href = 'perfil.html';
        });
    </script>
</body>
</html>
